<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :苗字 %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :苗字　かな %><br />
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :名前　かな %><br />
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :郵便番号 %><br />
    <%= f.text_field :zip, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :tell, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :もう一度パスワードを入力してください %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
