<h1>ユーザー詳細</h1>

<table border="" class="user_show">

	<thead>
		<tr>
			<th class="show_th">苗字：&emsp;</th>
			<td class="show_td">&emsp;<%= @user.last_name %></td>
			<th class="show_th_s">名前：&emsp;</th>
			<td>&emsp;<%= @user.first_name %></td>
		</tr>
		<tr>
			<th class="show_th">みょうじ：&emsp;</th>
			<td class="show_td">&emsp;<%= @user.last_name_kana %></td>
			<th class="show_th_s">なまえ：&emsp;</th>
			<td>&emsp;<%= @user.first_name_kana%></td>
		</tr>
		<tr>
			<th class="show_th">郵便番号：&emsp;</th>
			<td colspan="3">&emsp;<%= @user.zip %></td>
		</tr>
		<tr>
			<th class="show_th">住所：&emsp;</th>
			<td colspan="3">&emsp;<%= @user.address %></td>
		</tr>
		<tr>
			<th class="show_th">電話番号：&emsp;</th>
			<td colspan="3">&emsp;<%= @user.tell %></td>
		</tr>
		<tr>
			<th class="show_th">会員登録日時：&emsp;</th>
			<td colspan="3">&emsp;<%= @user.created_at %></td>
		</tr>
	</thead>

</table>



<h1>購入履歴</h1>






<span><%= link_to "ユーザー編集", edit_user_path , class: "btn btn-large btn-primary" %></span>


<span><%= link_to "退会", user_path, :method => :delete , class: "btn btn-danger" %></span>

