<h1>ユーザー詳細</h1>

<table>

	<thead>
		<tr>
			<th>last_name</th>
			<th>last_name_kana</th>
			<th>first_name</th>
			<th>first_name_kana</th>
			<th>zip</th>
			<th>address</th>
			<th>tell</th>
			<th>create_at</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @user.last_name %></td>
			<td><span><%= @user.last_name_kana %></span></td>
			<td><span><%= @user.first_name %></span></td>
			<td><span><%= @user.first_name_kana%></span></td>
			<td><span><%= @user.zip %></span></td>
			<td><span><%= @user.address %></span></td>
			<td><span><%= @user.tell %></span></td>
			<td><span><%= @user.created_at %></span></td>

		</tr>
	</tbody>
</table>


<span><%= link_to "ユーザー編集", edit_user_path %></span>


<span><%= link_to "退会", user_path, :method => :delete %></span>


  <div class="col-ms-12">
      <h3>購入履歴</h3>
      <hr>
      <% @user.orders.each do |order| %>
        <h4>注文番号：<%= order.id %></h4>
          <% order.product_orders.each do |product_order| %>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td> <label>商品名</label>
                    <%= product_order.product.cd_name %>
                  </td>
                  <td class="cart_td" colspan="2"> <label>配送状況:</label>
                    	<%= order.status %>
                  </td>
                </tr>
                <tr>
                  <td rowspan="2">
                    <%= attachment_image_tag product_order.product, :cd_image, :fill, 100, 100,  fallback: "default.jpg"%>
                  </td>
                  <td class="cart_td" colspan="2">  <label>商品購入日</label>
                    <%= product_order.created_at.strftime("%Y-%m-%d") %>
                  </td>
                </tr>
                <tr>
                  <td class="cart_td" colspan="2">  <label>値段</label>
                    <%= product_order.product.price %>円</td>
                </tr>
              </tbody>
            </table>
        <% end %>
        <hr>
      <% end %>
    </div>
    </div>
  </div>
</div>
<hr>



