<div class="container">
        <div class="col-md-12"> 
        　    <h1 style="display:inline;">ユーザー情報編集</h1>
        <hr>
        </div>
    <div class="row product_show">
        <div class="col-md-12">
            <ul>
                <%= form_for @users, url: admins_user_path , html: {method: "get"} do |f| %>
                    <li>名前:<%=f.text_field :last_name ,:placeholder => "苗字" %>名前:<%=f.text_field :first_name  ,:placeholder => "名前"  %></li>
                    <li>ふりがな:<%=f.text_field :last_name_kana ,:placeholder => "みょうじ"  %><%=f.text_field :first_name_kana  ,:placeholder => "なまえ" %></li>
                    <li>郵便番号:<%=f.text_field :zip %></li>
                    <li>住所:<%= f.text_field :address %></li>
                    <li>電話番号:<%= f.text_field :tell %></li>
                    <li>メールアドレス:<%= f.email_field :email, autofocus: true, autocomplete: "email" %></li>
                    <%= f.submit 'Update User' ,class: "btn btn-primary" %>
                <% end %>
            </ul>
        </div>
    </div>
</div>