<h1 class="title">購入 確認</h1>

<% sum = 0 %>
<% total_sum = 0 %>
<% current_user.cart.product_carts.each do |product_cart| %>



<div class="order_d">
	<table class="order_table">
	    <thead>
		  <tr class="order_thead">
		  	<th colspan="2"  class="order_th">商品名</th>
		  	<th class="order_th">商品の値段</th>
		  	<th class="order_th">購入個数</th>
		  	<th class="order_th">商品の合計金額</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
		  	<div class="">
			  <td style="width: 15%; border-style: ridge;">
			  	<ul class="text-left"><%= attachment_image_tag product_cart.product, :cd_image, :fill, 150, 150 %>
			  	</ul>
			  </td>
			  <td class="order_name">
				<div>
					<%= product_cart.product.cd_name %>
				</div>
				<div>
					<%= product_cart.product.artist_name %>
				</div>
			  </td>
			</div>

			<td class="order_td">
			  <div class="">
					<!-- 商品の値段 -->
					<%= product_cart.product.price %>&nbsp;円
			  </div>
			</td>
			<td class="order_td">
			  <div class="">
					<!-- 商品個数 -->
					<%= product_cart.quantity %>&nbsp;個
			  </div>
			</td>
			<td class="order_td">
			  <div class="">
					<!-- 商品個数 -->
					<%= product_cart.quantity * product_cart.product.price %>&nbsp;円
					<% product_total = product_cart.quantity * product_cart.product.price %>
			  </div>
			</td>
		  </tr>
		</tbody>
	</table>


	<% total_sum += product_total %>

</div>
		<% end %>

<div class="order_d_2">
	<table class="order_table_2">
		<tr class="order_thead_2">
			<th class="order_thd">送料&nbsp;</th>
			<th class="order_thd">支払金額&nbsp;</th>
		</tr>
		<tr>
			<td class="order_thd">1000&nbsp;円&nbsp;</td>
			<td class="order_thd"><%= total_sum + 1000 %>&nbsp;円&nbsp;</td>
		</tr>
	</table>
</div>


<h2 class="title">登録者&emsp;情報</h2>
	<div class="container">
		<table class="order_send">
			<tr class="send_tr">
				<th class="send_th col-md-4"><%= current_user.last_name %>
				</th>
				<th class="send_th col-md-4"><%= current_user.first_name %>
				</th>
				<th class="send_th col-md-4"><%= current_user.zip %>
				</th>
				<th class="send_th col-md-4"><%=  current_user.tell %>
				</th>
			</tr>
			<tr class="send_tr">
				<th class="send_th col-md-4"><%= current_user.last_name_kana %>
				</th>
				<th class="send_th col-md-4"><%= current_user.first_name_kana %>
				</th>
				<th colspan="2" class="send_th col-md-4"><%= current_user.address %>
				</th>
			</tr>

		</table>
	</div>


<h2 class="title">配送先&emsp;指定</h2>

<%= form_for @order do |f| %>
	<div>
		<table class="order_send">
			<tr class="send_tr">
				<th class="send_th"><%= f.text_field :last_name, :value => current_user.last_name,:placeholder => "苗字" %>
				</th>
				<th class="send_th"><%= f.text_field :first_name, :value => current_user.first_name,:placeholder => "名前" %>
				</th>
				<th class="send_th"><%= f.text_field :last_name, :value => current_user.zip,:placeholder => "郵便番号" %>
				</th>
				<th class="send_th"><%= f.text_field :first_name, :value => current_user.tell ,:placeholder => "電話番号"%>
				</th>
				<th rowspan="2">
					<button type="button" class="send_sub" >&emsp;&emsp;<%= f.submit "購入", class: "btn btn-success btn-lg" %>
					</button>
				</th>
			</tr>
			<tr class="send_tr">
				<th class="send_th"><%= f.text_field :last_name_kana, :value => current_user.last_name_kana,:placeholder => "苗字(かな)" %>
				</th>
				<th class="send_th"><%= f.text_field :first_name_kana, :value => current_user.first_name_kana,:placeholder => "名前(かな)" %>
				</th>
				<th colspan="2" class="send_th"><%= f.text_field :last_name, :value => current_user.address,:placeholder => "住所", style:"width: 100%;" %>
				</th>
			</tr>

		</table>
	</div>

<% end %>




