<p>購入確認</p>

<% sum = 0 %>
<% total_sum = 0 %>
<% current_user.cart.product_carts.each do |product_cart| %>

<hr>

<div class="col-ms-12">
CDネーム：<%= product_cart.product.cd_name %>
</div>

<div class="col-ms-12">
アーティストネーム：<%= product_cart.product.artist_name %>
</div>


<div class="col-ms-12">
<!-- 商品の値段 -->
商品の値段：<%= product_cart.product.price %>円
</div>

<div class="col-ms-12">
<!-- 商品個数 -->
購入個数：<%= product_cart.quantity %>
</div>

<div class="col-ms-12">
<!-- 商品個数 -->
商品の合計金額：<%= product_cart.quantity * product_cart.product.price %>
<% product_total = product_cart.quantity * product_cart.product.price %>
</div>

<% total_sum += product_total %>
<hr>
<% end %>

<div class="col-ms-12">
送料：1000円
</div>
<div class="col-ms-12">
支払金額：<%= total_sum + 1000 %>円
</div>

<%= form_for @order do |f| %>
<%= f.text_field :last_name_kana, :value => current_user.last_name_kana %>
<%= f.text_field :first_name_kana, :value => current_user.first_name_kana %>


<%= f.text_field :last_name, :value => current_user.last_name %>
<%= f.text_field :first_name, :value => current_user.first_name %>

<%= f.submit "購入", class: "btn-sm btn btn-success" %>
<% end %>


