<h1>カート</h1>

<% sum = 0%>
 <% current_user.cart.product_carts.each do |product_cart| %>
<%= product_cart.product.cd_name %>
<%= product_cart.product.artist_name %>
<p>¥<%= product_cart.product.price %></p>



<%# sum = 0%>
<!-- sumがここだとsum=0すらもeachされるので合計にならない -->s
<% sum += product_cart.product.price %>
<% end %>

合計金額<%= sum %>

<div class="col-xs-12">
<%=link_to "買い物を続ける", products_path, class: "btn btn-default col-xs-3 col-xs-offset-2" %>
<%=link_to "レジに進む", new_order_path, class: "btn btn-success col-xs-3 col-xs-offset-2" %>
</div>