<div class="container">
	<div class="col-xs-12">
		<div class="col-xs-6">
		<br>
		<td><%= link_to "新規追加",new_admins_product_path, class: "btn btn-success" %></td>
		</div>
		<div class="col-xs-6"><br>
		<p>検索</p><br>
		</div>
		<hr>
		<div class="row">
			<table class="table table-hover">
				<tbody>
					<tr>
						<td>商品ID</td>
						<td>シングル/アルバム名</td>
						<td>アーティスト名</td>
						<td>カテゴリー名</td>
						<td>レーベル名</td>
						<td>在庫数</td>
						<td>編集</td>
						<td>削除</td>
					</tr>
					<% @product.each do |product| %>
						<tr>
							<td><%= product.id %></td>
							<td><%= product.cd_name %></td>
							<td><%= product.artist_name %></td>
							<td><%= product.category %></td>
							<td><%= product.label_name %></td>
							<td><%= product.quantity %></td>
							<td><%= link_to "編集", edit_admins_product_path(product.id), class: "btn btn-success" %></td>
							<td><%= link_to "削除", admins_product_path(product.id), method: :delete, class: "btn btn-danger", data: { confirm: '本当に消しますか?'} %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>