<h1>編集画面</h1>
<%= form_for(@product) do |f| %>

	<h4>ジャケット画像</h4>
	<%= attachment_image_tag @product, :cd_image, :fill, 100, 100 %>
	<%= f.attachment_field :cd_image %>

    <h4>アーティスト名</h4>
    <%= f.text_field :artist_name %>

    <h4>アーティスト名　カナ</h4>
    <%= f.text_field :artist_name_kana %>

    <h4>アーティスト名　英語</h4>
    <%= f.text_field :artist_name_eng %>

    <h4>アルバム・シングル名</h4>
    <%= f.text_field :cd_name %>

    <h4>レーベル</h4>
    <%= f.text_field :label_name %>

    <h4>レーベル　カナ</h4>
    <%= f.text_field :label_name_kana %>

    <h4>レーベル　英語</h4>
    <%= f.text_field :label_name_eng %>

    <h4>プライス</h4>
    <%= f.text_field :price %>

    <h4>ジャンル</h4>
    <%= f.text_field :category %>

    <h4>在庫数</h4>
    <%= f.text_field :quantity %>

<br>
<br>
    <%= f.submit '更新', data: {confirm: "更新しますか？"} %><br>
<br>
    <span><%=link_to "TOPに戻る", root_path, data: {confirm: "更新せずにTOP画面へ戻ります"} %></span><br>
<br>
<br>

<% end %>
