<div class="sticky">
  <div cladss="row">
    <h1 class="pro_header" >CD LIST</h1>

     <%= search_form_for @q do |f| %>
      <div class="col-lg-4" style="background-color: white; height: 53px;"></div>
      <div class="col-lg-6" style="background-color: white; margin-top: 4px;">

        <p>
          <label style="margin-bottom: 0px; padding-top: 5px;"><%= f.search_field :artist_name_or_artist_name_kana_or_artist_name_eng_or_cd_name_or_category_or_label_name_or_label_name_kana_or_label_name_eng_cont,size:45  %>
          <input id="submit_button" type="submit" class="btn btn-primary" name="submit" value="検　索"></label>
        </p>
      </div>
      <div class="col-lg-2" style="background-color: white; height: 53px;"></div>

    <% end %>
  </div>
</div>
<hr>

<div class="row_body">
<div class="row">
 <% @products.each do |product| %>

  <div cladss="center-block">
    <div class="col-lg-3" style="padding-top: 10px;">
      <table class="ichiran">
          <div class="cd_image_index" >
            <%= attachment_image_tag(product, :cd_image, :fill, 200, 200) %>
          </div>
        <tr class="index_tr" >
          <th class="th_tr">アーティスト&emsp;</th>
          <td><%= product.artist_name .truncate(12) %></td>
            <% product.artist_name_eng .truncate(12) %>
        </tr>

        <tr class="index_tr">
          <th class="th_tr">アルバム・シングル名&emsp;</th>
          <td><%= product.cd_name .truncate(12) %></td>
        </tr>

        <tr class="index_tr">
          <th class="th_tr">ジャンル&emsp;</th>
          <td><%= product.category .truncate(12) %></td>
        </tr>

        <tr class="index_tr">
          <th class="th_tr">価格&emsp;</th>
          <td>¥ <%= product.price %></td>
        </tr>
      </table>

        <div class="index_show">
          <span><%=link_to "詳　細", product_path(product.id), class: 'btn btn-danger' %></span>
        </div>
<hr>
    </div>
  </div>
 <% end %>
</div>
</div>


<div cladss="center-block">
  <div class="col-lg-5" style="height: 40px;"></div>
  <div class="col-lg-3" style="height: 40px; margin: 0px 50px; line-height: 10px;">
    <%= paginate @products, class: "pagenate" %>
  </div>
  <div class="col-lg-4" style="height: 40px;"></div>
</div>


</div>
