<%= attachment_image_tag @product, :cd_image, :fill, 250, 250, format: 'jpeg' %>

<table>
  <tr>
    <th><h4>アルバム・シングル名：</h4></th>
    <td><%= @product.cd_name %></td>
  </tr>

  <tr>
    <th><h4>アーティスト：</h4></th>
    <td><%= @product.artist_name %>&emsp;&emsp;</td>
    <td><%= @product.artist_name_kana %>&emsp;&emsp; </td>
    <td><%= @product.artist_name_eng %></td>
  </tr>

  <tr>
    <th><h4>レーベル：</h4></th>
    <td><%= @product.label_name %>&emsp;&emsp;</td>
    <td><%= @product.label_name_kana %>&emsp;&emsp;</td>
    <td><%= @product.label_name_eng %></td>
  </tr>

  <tr>
    <th><h4>ジャンル：</h4></th>
    <td><%= @product.category %></td>
  </tr>

  <tr>
    <th><h4>在庫数：</h4></th>
    <td><%= @product.quantity %></td>
  </tr>

  <tr>
    <th><h4>価格：</h4></th>
    <td>￥&emsp;<%= @product.price %></td>
  </tr>

</table>

<br>
<br>
<span><%=link_to "カートに入れる", cart_path %></span><br>
<span><%=link_to "編集画面へ", edit_product_path(@product.id) %></span><br>
<span><%=link_to "商品を削除する", destroy_product_path(@product.id), method: :delete %></span><br>
<br>
<br>