<div class="show_body">
  <div class="col-lg-3">
    <%= attachment_image_tag @product, :cd_image, :fill, 250, 250, format: 'jpeg' %>
  </div>

    <div cladss="row">
      <div class="col-lg-6">
        <table>
          <tr>
            <th><h4>アルバム・シングル名：</h4></th>
            <td><%= @product.cd_name %></td>
          </tr>

          <tr>
            <th><h4>アーティスト：</h4></th>
            <td><%= @product.artist_name %>&emsp;&emsp;</td>
            <td><%= @product.artist_name_kana %>&emsp;&emsp; </td>
            <td><%= @product.artist_name_eng %></td>
          </tr>

          <tr>
            <th><h4>レーベル：</h4></th>
            <td><%= @product.label_name %>&emsp;&emsp;</td>
            <td><%= @product.label_name_kana %>&emsp;&emsp;</td>
            <td><%= @product.label_name_eng %></td>
          </tr>

          <tr>
            <th><h4>ジャンル：</h4></th>
            <td><%= @product.category %></td>
          </tr>

          <tr>
            <th><h4>在庫数：</h4></th>
            <td><%= @product.quantity %></td>
          </tr>

          <tr>
            <th><h4>価格：</h4></th>
            <td>￥&emsp;<%= @product.price %></td>
          </tr>

        </table>
      </div>

      <div class="col-lg-6">
        <% @discs.discs.each do |disc| %>
          <div class="disc_ds">
            <h4 class="disc_n" ><%= disc.disc_number %></h4>
            <h4 class="disc_n"><%= disc.disc_name %></h4><br>
            <div class="disc_s">
                <% disc.songs.each do |song| %>
                    <%= song.song_number %>&emsp;
                    <%= song.song_title %><br>
                <% end %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>

<div class="col-xs-12 col-md-8">
<br>
<br>


<button type="button" style="font-size: 15px; margin-bottom: 5px;" ><%=link_to "カートに入れる", product_product_carts_path(@product.id), method: :post %></button><br>


<% if admin_signed_in? %>
<button type="button" class="is_edit" style="font-size: 15px; margin-bottom: 5px;" ><%=link_to "編集画面へ", edit_product_path(@product.id) %></button><br>
  <button type="button" class="is_del" style="font-size: 15px; margin-bottom: 5px;"><%=link_to "商品を削除する", destroy_product_path(@product.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></button><br>
<% end %>

<br>
<br>
</div>

