<!DOCTYPE html>
<html>
  <head>
    <title>CdShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <%= link_to root_path do %>
              <i class="glyphicon glyphicon-home"></i>nnk record 渋谷店
              <% end %>
            </li>
          </ul>
        </nav>

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if admin_signed_in? %>
            <!--ログイン中のヘッダー-->
            <li>
              <%= link_to admins_users_path do %>
              <i class="glyphicon glyphicon-user"></i>admin/Users
              <% end %>
              
            </li>

            <li>
              <%= link_to admins_products_path do %>
              <i class="glyphicon glyphicon-folder-open"></i>admin/Products
              <% end %>
             
            </li>
            <li>
              <%#= link_to admins_orders_path do %>
              <i class="glyphicon glyphicon-shopping-cart"></i>admin/Orders
              <%# end %>
            </li>

            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
              <i class="glyphicon glyphicon-log-out"></i>Logout
              <% end %>
            </li>
            <% else %>
            <!--ログアウト中のヘッダー-->
            <li>
              <%= link_to new_user_session_path do %>
              <i class="glyphicon glyphicon-log-in"></i>Login
              <% end %>
            </li>

            <% end %>
          </ul>
        </nav>
    </div>
    </header>


<p id="notice"></p>
    <%= yield %>
  </body>

<footer>
    <div class="sticky_a">
    <p style="color: white;"><small>Copyrighht © 2017 ABCD Co.,Ltd. All Rights Reserved.</small></p>
  </div>
  </footer>

</html>