<html>
  <head>
    <title>CdShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <header class="navbar navbar-fixed-top navbar-inverse" style="margin-bottom: 0px;">
      <div class="container" style="width: 1300px;">

     <% if user_signed_in? %>
        <!--ログイン中-->
        <nav class="nav navbar-nav navbar-left">
          <ul class="nav navbar-nav navbar-left">
  					<li class="" style="padding-top: 12px;">
            <span class="font"><%= link_to "nnk record 渋谷店", root_path %></span>
            </li>
          </ul>
        </nav>

        <nav class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-right" style=" width: 125%;">

            <li class="">
            <p class="head_word"><%= current_user.last_name %><%= current_user.first_name %>&emsp;</p>
      			</li>

            <li class="" style="padding-top: 12px;">
            <span class="font"><%= link_to "マイページ", user_path(current_user.id) %>&emsp;</span>
            </li>
            <li class="" style="padding-top: 12px;">
            <span class="font"><%=link_to "🛒カート", cart_path(current_user.cart.id) ,class: "text-center"%>&emsp;</span>
            </li>
            <li class="" style="padding-top: 12px;">
            <span class="font"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>&emsp;</span>
          </li>
          </ul>
        </nav>


            <% else %>
 <!--ログアウト中-->
        <nav class="nav navbar-nav navbar-left">
          <ul class="nav navbar-nav navbar-left">
             <li class="">
            <span class="font"><%= link_to "nnk record 渋谷店", root_path %></span>
            </li>
          </ul>
        </nav>

        <nav class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-right" style="width: 125%;">
           <li class="">
            <span class="font"><%= link_to "新規会員登録", new_user_registration_path %>&emsp;</span>
            </li>
            <li class="">
            <span class="font"><%= link_to "ログイン", new_user_session_path %>&emsp;</span>
            </li>
            <li class="">
            <span class="font"><%= link_to "TOPへ", root_path %></span>
            </li>
          </ul>
      </nav>
          <% end %>

    </div>
    </header>


  <p id="notice"></p>
    <%= yield %>

<hr>

  <footer>
    <div class="sticky_f">
    <p>
      <a>利用規約</a>
      <a>|</a>
      <a>プライバシーポリシー</a>
      <a>|</a>
      <a>サイトマップ</a>
    </p>
    <p style="color: white;"><small>Copyrighht © 2017 ABCD Co.,Ltd. All Rights Reserved.</small></p>
  </div>
  </footer>

</html>
